<ng-template #loader>
  <div class="flex justify-content-center align-items-center min-h-screen">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div *ngIf="hero; else loader" class="flex justify-content-center py-4">
  <mat-card class="col-12 sm:col-4">
    <mat-card-header class="mb-4">
      <mat-card-title> {{ hero.alter_ego }} </mat-card-title>
      <mat-card-subtitle> {{ hero.superhero }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero | imageHero" [alt]="hero.superhero" />
  </mat-card>

  <mat-card class="col-12 sm:col-2">
    <mat-card-header class="mb-4">
      <mat-card-title> Description </mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>First Appearance</span>
        <span matListItemLine>{{ hero.first_appearance }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Characters</span>
        <span matListItemLine>{{ hero.characters }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Publisher</span>
        <span matListItemLine>{{ hero.publisher }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Alter Ego</span>
        <span matListItemLine>{{ hero.alter_ego }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
